<!doctype html>
<html>
 <head>
   <h1> Add Link </h1>
 </head>
 <body>
   <form action="/links">
     <label>Link Title</label>
     <input type="text" title="link_title" id ="link_title">
     <label>URL</label>
     <input type="text" url="link_url" id="link_url"
   </form>
 </body>
</html>
